@import "tailwindcss";

@theme {
  --color-primary: #00082c;
  --color-bg-light: #ffffff;
  --color-accent: #baa880;
  --font-sans: var(--font-cairo), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #00082c;
}

body {
  background: var(--background);
  color: var(--foreground);
}